## Sets

In [1]:
# a set is declared using {}
# sets ONLY contain UNIQUE values
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [3]:
# you can define a set by passing any sort of iterable object in the constructor of the set class
# set() - set object constructor
# same as above (cell 1)
mySet = set(['a', 'b', 'c'])

In [3]:
# you can also use a tuple:
# also same as cell 1
mySet = set(('a', 'b', 'c'))

In [4]:
mySet

{'a', 'b', 'c'}

In [2]:
### One common pattern in programming is to remove duplicates from a list.

# because you can convert a list to a set and then back again and sets can only contain unique values, this becomes easy
# de-duplicate myList
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

### Properties of Sets
### - Declared with curly brackets {}
### - All elements are unique
### - The order doesn't matter ==> Sets are randomized. When de-duplicating a list, the order of elements in your list may not be the same coming back out.

['c', 'a', 'b']

In [6]:
# because of this, you can't fetch elements from a set by their index.
### The set object is not subscriptable, so you can't use the slicing syntax with it.
### In Python, an object is subscriptable if it contains elements that can be accessed by an index -- it contains ordered accessible sub-elements.
mySet[0]

TypeError: 'set' object is not subscriptable

In [7]:
# Example:
# The int object is not subscriptable
# 1 doesn't contain any sub-elements.
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [3]:
# add() function
# - add element to a set ==> no order where the new element is added to the set
# - different from the append() function of the list, which specifically appends the element to the end of the list
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [10]:
# like with lists, you can use the membership operator to return boolean values
'a' in mySet

True

In [11]:
'z' in mySet

False

In [12]:
len(mySet)

4

In [4]:
# pop() function - grab a random element from the set and return it while removing the element from the set
while len(mySet):
    print(mySet.pop())

d
c
a
b

In [5]:
mySet

set()

In [7]:
mySet = {'a', 'b', 'c'}

In [8]:
# discard() function - removes a specific element
# - doesn't throw an error even though the set is empty or the specificed element is not in the set
# syntax:
# set_variable.discard(<value>)
mySet.discard('a')

In [11]:
mySet

{'b', 'c'}

In [10]:
mySet.discard('z')

## Tuples

In [12]:
# tuples are ordered like lists, except they use ()
# tuples are ordered and subscriptable but CANNOT be modified
myTuple = ('a', 'b', 'c')
myTuple

### Tuples
### - Declared with parentheses
### - Are ordered and "subscriptable"
### - Cannot be modified

### Why use Tuples?
### - More efficient than lists
### - They don't grow or change
### - Store compactly in memory

('a', 'b', 'c')

In [20]:
myTuple[0]

'a'

In [21]:
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [27]:
# another benefit of tuple -- they are kind of used by default

def returnsMultipleValues():
    return 1,2,3
    # when returning multiple values from a function, the preferred syntax (or real world convention) is WITHOUT () in the values

type(returnsMultipleValues())

tuple

In [13]:
# python does NOT require parentheses around tuples at all
def returnsMultipleValues():
    return (1,2,3)

type(returnsMultipleValues())

tuple

In [14]:
# you can do this for tuple declaration:
noParTuple = 1,2,3

In [15]:
# it's type is tuple even without ()
type(noParTuple)

tuple

In [26]:
# but in the real world convention, use () for tuple declaration:
myTuple = (1,2,3)

In [25]:
type(myTuple)

tuple

In [28]:
# unpacking values - set many variables in a row
a, b, c = returnsMultipleValues()

In [29]:
print(a)
print(b)
print(c)

1
2
3